{% extends 'index.html' %} {% block content %}

<div class="text-white center flex flex-col w-lg items-center">
  <form method="post">
    {% csrf_token %} {% for error in field.errors %}
    <p class="text-red"><strong>{{error}}</strong></p>
    {% endfor %} {% for f in form %} {{ f.label_tag }}
    <input
      name="{{ f.html_name }}"
      class="bg-transparent text-white p-1 border-1 rounded-lg border-red-600"
      type="text"
    />
    {% endfor %}
    <button
      type="submit"
      class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
    >
      Create House
    </button>
  </form>
</div>
{% endblock content %}
