{% extends 'index.html' %}

{% block content %}

<div class="container center">
{% if object_list|length > 1 %}
          <h3>Total Houses {{ object_list|length }}</h3>
          {% elif object_list|length <= 1 %}
          <h3>{{ object_list|length }} Houses</h3>
          {% endif %}

{% for house in object_list %}
</ul>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Plot</th>
            <th scope="col">Bathrooms</th>
            <th scope="col">Bedrooms</th>
            <th scope="col">Livinspace</th>
            <th scope="col">Description</th>
            <th scope="col">Plot Size</th>
            <th scope="col">Uploaded at</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ house.title }}</td>
            <td>{{ house.price }}</td>
            <td>{{ house.plot }}</td>
            <td>{{ house.bathrooms }}</td>
            <td>{{ house.bedrooms }}</td>
            <td>{{ house.living_space }}</td>
            <td>{{ house.description }}</td>
            <td>{{ house.plot_size }}</td>
            <td>{{ house.created|date:"d F Y, H:i" }}</td>
        </tr>
    </tbody>
</table>
{% empty %}
        <h1>No houses founded in your portfolio</h1>
        <p>List a house now <a href="{% url 'createhouse' %}">list now</a></p>
{% endfor %}
    <h1>Total house value = {{ value|floatformat:2 }} €</h1>
</div>
{% endblock content %}