<ul class="nav justify-center space-x-5 mt-3 pb-4">
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a
      class="bg-clip-text hover:text-white text-lg text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
      aria-current="page"
      href="{% url 'home' %}"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a
      class="bg-clip-text hover:text-white text-lg text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
      href="{% url 'createhouse' %}"
      >Create House</a
    >
  </li>
  <li class="nav-item">
    <a
      class="bg-clip-text hover:text-white text-lg text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
      href="{% url 'logout' %}"
      >Logout</a
    >
  </li>
  <li class="nav-item">
    <a
      class="bg-clip-text hover:text-white text-lg text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
      href="{% url 'dashboard' %}"
      >Dashboard</a
    >
  </li>
  <li class="nav-item">
    <a
      class="bg-clip-text hover:text-white text-lg text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
      href="{% url 'deletebroker' request.user.id %}"
      >Delete Profile</a
    >
  </li>
  <li class="nav-item">
    <a
      class="bg-clip-text hover:text-white text-lg text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
      href="{% url 'profile' request.user.id %}"
      >Profile</a
    >
  </li>
  {% else %}
  <li class="nav-item">
    <a
      class="bg-clip-text hover:text-white text-lg text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
      aria-current="page"
      href="{% url 'home' %}"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a
      class="bg-clip-text hover:text-white text-lg text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
      href="{% url 'login' %}"
      >Login</a
    >
  </li>
  <li class="nav-item">
    <a
      class="bg-clip-text hover:text-white text-lg text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
      href="{% url 'createbroker' %}"
      >Create Broker</a
    >
  </li>
  {% endif %}
</ul>
